{% url 'home-view' as path_to_home %}
{% url 'posts:main-post-view' as path_to_posts %}
{% url 'profiles:my-profile-view' as path_to_my_profile %}
{% url 'profiles:my-invites-view' as path_to_my_invites %}
{% url 'profiles:invite-profiles-view' as path_to_invites %}
{% url 'profiles:all-profiles-view' as path_to_all_profiles %}
{% url 'profiles:profile-search' as profile_search %}
{% url 'chat:inbox' as path_to_inbox %}
<div class="ui fixed small inverted menu nav mb-7" style="Height: 60px !important;">
  <div class="ui container">
    {% if request.user.is_authenticated %}
    <a href="{{path_to_posts}}" class="{% if request.path == path_to_posts %}active{% endif %} item">
        <h3 style="font-family:Billabong; font-size:25px"> {% load static %}<img src="{% static "logotranswhite.png" %}" class'ui image'width="40" height="40"/></h3>
    </a>
    {% else %}
        <a href="{{path_to_home}}" class="{% if request.path == path_to_home %}active{% endif %} item">
        <h3 style="font-family:Billabong; font-size:25px">{% load static %}<img src="{% static "logotranswhite.png" %}" class'ui image'width="40" height="40"/></h3>
    </a>
    {% endif %}
  
    <div class="right menu">
            {% if request.user.is_authenticated %}
             <div class="item">
              <form action="{{profile_search}}" method=POST>
                {% csrf_token %}

                <div class="ui action left icon input">
                <input class="prompt" type="text" name='query' value="" placeholder="username">
                <button type='submit' class="ui small button"><i class="search icon"></i></button>
                </div>
            </form>
            </div>
            {% endif %}

                {% if request.user.is_authenticated %}
    <a href="{{path_to_posts}}" class="{% if request.path == path_to_posts %}active{% endif %} item">
        <h3><i class="large home icon"></i></h3>
    </a>
    {% endif %}

    {% if request.user.is_authenticated %}
        <div class="item">
            <div class="ui floating dropdown icon">
                <i class="large heart icon"></i>
                <div class="menu">
                    <a href="{{path_to_all_profiles}}" class="{% if request.path == path_to_all_profiles %}active{% endif %} item">
                        All Profiles
                    </a>
                    <a href="{{path_to_invites}}" class="{% if request.user == path_to_invites %}active{% endif %} item">
                        Send Invites
                    </a>
                    <a href="{{path_to_my_invites}}" class="{% if request.path == path_to_my_invites %}active{% endif %} item">
                        Received Invites &nbsp;<div class='ui purple horizontal label'>{{invites_num}}</div>
                    </a>
                </div>
             </div>
        </div>

            <a href="{% url 'chats' %}" class="ui item">
                <i class="ui large paper plane icon"></i>
            </a>

        <div class="item">
            <div class="ui floating dropdown icon">
                <img src={{picture.url}} class="ui avatar image">&nbsp;
                <div class="menu">
            <a href="{{path_to_my_profile}}" class="{% if request.path == path_to_my_profile %}active{% endif %} item">
                  <i class="user circle icon"></i>
                
                 {{ request.user }}
            </a>

            <a href="{% url 'account_logout' %}" class="ui item">
                <i class="large sign out alternate icon"></i>Logout
            </a>
            </div>
             </div>
        </div>
    {% else %}
        <a href="{% url 'account_login' %}" class="ui item">
                <i class="large sign in alternate icon"></i>
            </a>
    {% endif %}
    </div>
  </div>
</div>