{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <!--Custom css ADD HERE-->
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <!-- semantic UI -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>

    <title>SocialEyes - {% block title %}{% endblock title %}</title>
{% load static %}
<link rel="shortcut icon" type="image/png" href="{% static 'logotranswhitesq.png' %}"/>

  </head>
  <body>
    {% include 'main/navbar.html' %}
    <div class="ui container">
      {% block content %}
      {% endblock content %}
    </div>

    {% block script %}
    {% endblock script %}
   
   <!--Custom js ADD HERE-->
   <script type="text/javascript"src={% static 'main.js' %}></script>
  </body>
</html>